/* HTML: <div class="loader"></div> */
.loading-indicator {
  width: 170px;
  height: 24px;
  border-radius: 20px;
  /* color: #6759d8; */
  color: #3b82f6;
  border: 2px solid;
  position: absolute;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.loading-indicator::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
